.passengerContainer {

    display: flex;
    width: 929px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 37px;
    margin-bottom: 54px;

}

.passengerContainer p {

    height: 29px;
    color: #434549;
    font-family: 'GOST type A';
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0em;

}

.passengerContainer button {

    height: 39px;
    color: #434549;
    font-family: 'GOST type A';
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0em;
    background-color: #fff;
    border: 0;

}