.myTrainTicketContainer {

    display: flex;
    width: 993px;
    height: 189px;
    background-color: white;
    margin-bottom: 41px;

}

.myTrainTicketContainer .left {

    width: 648px;

}

.myTrainTicketContainer .typeOfTrain-img {

    margin-left: 17px;

}

.myTrainTicketContainer .upper {

    display: flex;
    align-items: center;
    width: 477px;
    justify-content: space-between;
    height: 23px;
    margin-top: 12px;

}

.myTrainTicketContainer .date {

    display: flex;
    align-items: center;

}

.myTrainTicketContainer .strelka {

    width: 79px;
    height: 11px;
    margin-left: 7px;
    margin-right: 7px;

}

.myTrainTicketContainer .typeOfTrain {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .numberOfTrain {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .date p {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .center {

    display: flex;
    align-items: center;
    width: 558px;
    justify-content: space-between;
    margin-left: 42px;
    margin-top: 33px;
    height: 76px;

}

.myTrainTicketContainer .Time {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    margin-top: 0px;
    margin-bottom: 10px;

}

.myTrainTicketContainer .fisrtPlace {

    color: #434549;
    font-family: 'Gost Type A';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    margin: 0;
    display: grid;
    justify-content: center;

}

.myTrainTicketContainer .secondPlace {

    color: #434549;
    font-family: 'Gost Type A';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    margin: 0;
    display: grid;
    justify-content: center;

}

.myTrainTicketContainer .fullTime {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.myTrainTicketContainer .strelkaCenter {

    width: 259px;
    height: 15px;
    margin-left: 34px;
    margin-right: 34px;

}

.myTrainTicketContainer .footer {

    width: 28px;
    height: 18px;
    margin-left: 8px;
    margin-bottom: 4px;

}

.myTrainTicketContainer .IdOfTicket {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .infoAboutTicket {

    display: flex;
    justify-content: space-between;
    height: 15px;
    align-items: center;

}

.myTrainTicketContainer .right {

    display: flex;
    align-items: center;
    width: 345px;

}

.myTrainTicketContainer .info {

    display: block;
    margin-left: 35px;
    margin-right: 35px;
    width: 310px;

}

.myTrainTicketContainer .footerOfRight {

    position: absolute;
    margin-bottom: 10px;
    margin-top: 148px;
    margin-left: 296px;
    margin-right: 15px;

}

.myTrainTicketContainer .footerOfRight button {

    width: 33px;
    height: 31px;
    padding: 0;
    border: 0;
    background-color: white;

}

.myTrainTicketContainer .typeOfTicket {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .price {

    color: #AC9286;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .infoAboutPassenger p {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;

}

.myTrainTicketContainer .infoAboutPlace {

    display: flex;
    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}