.AddDocumentContainer {

    width: 1600px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.AddDocumentContainer p {

    color: #434549;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    margin: 0 auto;
    margin-top: 51px;

}

.Data p {

    margin: 0;


    color: #434549;
    font-family: 'GOST type A';
    font-size: 24px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;

}

.finally {

    margin: 0 auto;

}

.Data {

    margin-top: 25PX;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 500px;

}

.Data input {

    width: 276px;
    padding-right: 0;
    height: 54px;
    color: #434549;
    font-family: 'GOST type A';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    margin: auto;
    margin-top: 9px;
    border-radius: 10px;
    padding: 0;
    padding-left: 13px;

}

button {

    width: 248px;
    height: 56px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #AC9286;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}


