.scheduleContainer {

    position: relative;
    display: flex;
    width: 1600px;
    height: 533px;
    background-size: 100% auto;
    background-image: url('../../img/background-image-2.png');
    justify-content: right;
    margin: auto;

}

.scheduleContainer .search-bar {

    width: 835px;
    height: 70px;
    border-radius: 10px;
    background-color: #FFF;
    margin-right: 172PX;
    margin-top: 72px;
    display: flex;
    align-items: center;
        
}

.scheduleContainer input {

    width: 154px;
    padding-left: 14px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 48px;
    color: #434549;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    border: 1px solid #AC9286;
    margin: auto;

}

.scheduleContainer p {

    color: #fff;
    font-family: 'GOST type A';
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    margin-top: 142px;
    margin-bottom: 0px;
    margin-left: 212px;
    width: 446px;
    height: 59px;


}

.scheduleContainer button {

    width: 144px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    margin-right: 34px;
    margin-left: 34px;
    color: #FFF;
    background-color: #AC9286;
    font-family: 'Inter', sans-serif;
    font-style: medium;
    font-size: 20px;


}

.scheduleContainer button:hover {

    transition: ease, 1.5s;
    transform: scale(1.1);

}

.scheduleContainer #firstInput {

    margin-left: 34px;
    margin-right: 10px;

}

.scheduleContainer #lastInput {

    margin-RIGHT: 0px;

}

.scheduleContainer #secondInput {

    margin-left: 10px;


}

.scheduleContainer input[type="date"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
 .scheduleContainer input[type="date"]:focus::before,
 .scheduleContainer input[type="date"]:valid::before { display: none }